/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #1a0731;
    color: #00aaff;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  